<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>WatchList</h1>
    <p>Change your face to Nicolas Cage's face</p>
    <%= link_to "New List", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container mt-3">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : list.bookmarks.first.movie.poster_url %>)">
        <%= link_to list.name, list_path(list), class: "btn btn-light" %>
      </div>
    <% end %>
  </div>
</div>
