<h1><%= @list.name %></h1>
<%= link_to "Bookmark a Movie", new_list_bookmark_path(@list) %>
<ul>
  <% Bookmark.where(list_id: @list).each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %>
      <%= link_to 'X', bookmark_path(bookmark), data: { turbo_method: 'delete', turbo_confirm: "Delete #{bookmark.movie.title}?"} %>
    </li>
  <% end %>
</ul>
